<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TwoBrowswer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10ADFD6D1E2AA50A0087D91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10ADFD811E2AA50B0087D91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10ADFD8C1E2AA50B0087D91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
